/* .nav-mobile {
  margin-top: -24px;
  margin-left: -8px;

  height: 100vh;
  width: 100vw;
  background-color: blue;
} */
.nav {
  padding-bottom: 200px;
}
.nav-close {
  padding-top: 50px;
  position: relative;
  z-index: 8;
}
.nav-open {
  display: none;
}

.home {
  /* background-color: #015313; */
  background-size: cover;
  height: 100vh;
  width: 100vw;
  margin: -8px;
  position: absolute;
  z-index: -4;
}
.home-text {
  color: #fffff3;
  font-size: 5vw;
  font-family: arial;
  line-height: 5vw;
  /* overflow: hidden; */
}
/* .look {
  font-weight: 800;
  font-size: 10vw;
  color: transparent;
  position: fixed;
  opacity: 0.5;
  background-image: url(./assets/start_remove-c851bdf8d3127a24e2d137a55b1b427378cd17385b01aec6e59d5d4b5f39d2ec.png);
  background-clip: text;
  mix-blend-mode: screen;
} */
/* .look:hover .home {
  background-color: red;
  z-index: -3;
} */

.background-video {
  position: fixed;
  top: 0;
  left: 0%;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: -10;
  overflow: auto;
}

/* .video {
  position: absolute;
  height: 100vh;
  width: 100v%;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}
.video .background-video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.video .look {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #fff;
  font-size: 30vw;
  text-align: center;
  text-transform: uppercase;
  color: #000;
  line-height: 100vh;
  mix-blend-mode: screen;
} */

/* .video .background-video {
  height: 5vh;
  max-width: 100%;
  overflow: hidden;
}
.background-video {
  height: 5vh;
  max-width: 100%;
  position: fixed;
  z-index: -8;
}
.look {
  font-size: 5vh;
  position: fixed;
  z-index: 8;
} */

.about {
  /* dark sienna */
  background: #36151e;
  height: 100%;
  width: 100vw;
  margin: -8px;
  position: absolute;
  z-index: -3;
  overflow: auto;
}
.none {
  display: none;
}
.none1 {
  display: none;
}
.btn-timeline {
  height: 26px;
  width: 26px;
  border-radius: 50%;
  background-color: transparent;
  border: none;
  /* border-color: none; */
  margin-left: 200px;
}

/* .image {
  float: right;
  height: 10vw;
  width: 15vw;
  margin-top: 10%;
  margin-right: 15%;
  background-image: url(./assets/IMG_7870.JPG);
  background-size: cover;
  background-position: center;
  transition: all 2s ease-in-out;
  animation: refresh 1s ease-out forwards;
} */

/* .image:hover {
  height: 20vw;
  width: 30vw;
  margin-top: calc(10% - 5vw);
} */
.timeline {
  margin-left: 95vw;
  margin-right: 5vw;
  margin-top: calc(-70px);
  margin-bottom: 15vh;
  position: absolute;
  z-index: 6;
  animation: refresh 1s ease-out forwards;
}
.dot {
  margin-right: 5vw;
  margin-top: -90px;
  position: absolute;
  z-index: 7;
  animation: refresh 0.3s ease-out forwards;
}
/* .timeline .dot {
  margin-right: 5vw;
  margin-top: calc(-5vh);
  margin-bottom: 15vh;
} */
.line {
  height: calc(668px - 109px);
  margin-bottom: 80px;
  width: 10px;
  background-color: black;
}
/* .experience {
  display: flexbox;
}
.education {
  display: flexbox;
} */
.wrapper1 {
  margin-left: calc(95vw - 8px);
  height: calc(668px - 134px);
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}
/* .wrapper {
  margin-left: calc(95vw - 8px);
  height: calc(((70vh - 109px) / 11) * 4 - 12.5px);
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
} */
.small {
  height: 20px;
  width: 20px;
  background-color: #fffff3;
  border-radius: 50%;
  border-style: solid;
  border-color: black;
  border-width: 3px;
}
.small-e {
  height: 20px;
  width: 20px;
  background-color: #fffff3;
  border-radius: 50%;
  border-style: solid;
  border-color: black;
  border-width: 3px;
}
.big {
  margin-left: calc(95vw - 15px);
  height: 28px;
  width: 28px;
  background-color: black;
  border-radius: 50%;
  border-style: solid;
  border-color: black;
  border-width: 6px;
}
.dot-inv {
  margin-right: 5vw;
  margin-top: -90px;
  position: absolute;
  z-index: 8;
}
.wrapper-inv {
  margin-left: calc(95vw - 8px - 200px);
  height: calc(668px - 134px);
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}
/* .wrapper-2-inv {
  margin-left: calc(95vw - 8px - 200px);
  height: calc(((70vh - 109px) / 11) * 4 - 12.5px);
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
} */
.big-inv {
  margin-left: calc(95vw - 15px - 200px);
  height: 40px;
  width: 226px;
  border-width: 6px;
  line-height: 40px;
}
.small-inv-1 {
  /* margin-top: -5px; */
  margin-left: 200px;
  height: 26px;
  width: 26px;
  border-radius: 50%;
  text-align: center;
  color: transparent;
  font-size: 0px;
  line-height: 25px;
}
.small-inv-1:hover {
  margin-left: 0px;
  width: 226px;
  border-radius: 0;
  color: initial;
  font-size: initial;
  color: #fffff3;
}
.small-inv-2 {
  margin-left: 200px;
  height: 26px;
  width: 26px;
  border-radius: 50%;
  text-align: center;
  color: transparent;
  font-size: 0px;
  line-height: 25px;
}
.small-inv-2:hover {
  margin-left: 0px;
  width: 226px;
  border-radius: 0;
  color: initial;
  font-size: initial;
  color: #fffff3;
}
.small-inv-3 {
  margin-left: 200px;
  height: 26px;
  width: 26px;
  border-radius: 50%;
  text-align: center;
  color: transparent;
  font-size: 0px;
  line-height: 25px;
}
.small-inv-3:hover {
  margin-left: 0px;
  width: 226px;
  border-radius: 0;
  color: initial;
  font-size: initial;
  color: #fffff3;
}
.small-inv-4 {
  /* margin-top: -5px; */
  margin-left: 200px;
  height: 26px;
  width: 26px;
  border-radius: 50%;
  text-align: center;
  color: transparent;
  font-size: 0px;
  line-height: 25px;
}
.small-inv-4:hover {
  margin-left: 0px;
  width: 226px;
  border-radius: 0;
  color: initial;
  font-size: initial;
  color: #fffff3;
}
.small-inv-5 {
  margin-left: 200px;
  height: 26px;
  width: 26px;
  border-radius: 50%;
  text-align: center;
  color: transparent;
  font-size: 0px;
  line-height: 25px;
}
.small-inv-5:hover {
  margin-left: 0px;
  width: 226px;
  border-radius: 0;
  color: initial;
  font-size: initial;
  color: #fffff3;
}
.small-inv-6 {
  margin-left: 200px;
  height: 26px;
  width: 26px;
  border-radius: 50%;
  text-align: center;
  color: transparent;
  font-size: 0px;
  line-height: 25px;
}
.small-inv-6:hover {
  margin-left: 0px;
  width: 226px;
  border-radius: 0;
  color: initial;
  font-size: initial;
  color: #fffff3;
}
.small-inv-7 {
  margin-left: 200px;
  height: 26px;
  width: 26px;
  border-radius: 50%;
  text-align: center;
  color: transparent;
  font-size: 0px;
  line-height: 25px;
}
.small-inv-7:hover {
  margin-left: 0px;
  width: 226px;
  border-radius: 0;
  color: initial;
  font-size: initial;
  color: #fffff3;
}
.small-inv-8 {
  margin-left: 200px;
  height: 26px;
  width: 26px;
  border-radius: 50%;
  text-align: center;
  color: transparent;
  font-size: 0px;
  line-height: 25px;
}
.small-inv-8:hover {
  margin-left: 0px;
  width: 226px;
  border-radius: 0;
  color: initial;
  font-size: initial;
  color: #fffff3;
}
.small-inv-9 {
  margin-left: 200px;
  height: 26px;
  width: 26px;
  border-radius: 50%;
  text-align: center;
  color: transparent;
  font-size: 0px;
  line-height: 25px;
}
.small-inv-9:hover {
  margin-left: 0px;
  width: 226px;
  border-radius: 0;
  color: initial;
  font-size: initial;
  color: #fffff3;
}
.active {
  /* olive */
  background-color: #988f2a;
}
.active-e {
  /* blizard blue */
  background-color: #98dfea;
}
.timeline-text-big {
  font-weight: 400;
  font-size: 20px;
  /* Ivory */
  animation: refresh 1s ease-out forwards;
}
.color-exp:hover {
  color: #988f2a;
}
.color-edu:hover {
  color: #98dfea;
}
.color-exp-big {
  color: #988f2a;
}
.color-edu-big {
  color: #98dfea;
}
.timeline-text-small {
  font-weight: 300;
  /* Ivory */
  /* color: #fffff3; */
}
.company {
  font-family: sans-serif;
  font-weight: 700;
  font-size: 30px;
  text-align: center;
}
.job {
  font-family: sans-serif;
  font-weight: 500;
  font-size: 25px;
  text-align: center;
}

.projects {
  background-color: #721610;
  margin: -8px;
  height: 100vh;
  width: 100vw;
}
.curriculum {
  background-color: black;
  margin: -8px;
  height: 100vh;
  width: 100vw;
}
.wrap {
  color: #eef0f2;
  padding-left: 100px;
  max-width: 440px;
  float: left;
  position: absolute;
  z-index: 9;
  animation: refresh 1s ease-out forwards;
}

.container {
  width: 100%;
  display: flex;
  flex: 1;
  justify-content: space-between;
  align-items: center;
  animation: refresh 1s ease-out forwards;
  position: absolute;
  z-index: 5;
}

li {
  display: inline;
  padding-right: 50px;
}
/* li:active {
  font-weight: 600;
} */
.temp1 {
  display: none;
}
.text {
  color: #fffff3;
  text-decoration: none;
  font-size: 23px;
  font-family: arial;
}
.link {
  color: #fffff3;
  text-decoration: none;
}
.link:hover {
  /* Tea Green */
  color: #cde7b0;
}
.first-text {
  max-width: 440px;
  font-size: 1.618034em;
  line-height: 1.3;
  font-weight: 700 / 600;
  font-family: "Raleway", sans-serif;
}
.second-text {
  max-width: 400px;
  padding-top: 1.3em;
  font-family: "the-serif", serif;
  font-weight: 400;
  font-size: 1.2em;
  line-height: 1.4;
  margin-left: 0;
}
.third-text {
  max-width: 400px;
  font-family: "the-serif", serif;
  font-size: 1.2em;
  font-weight: 400;
  line-height: 1.4;
}
.dropdown {
  display: none;
}
/* .inline-svg {
  display: inline;
  margin-left: 0.22em;
  width: 0.28em;
  height: 1em;
} */

.btn {
  background: url(./assets/dropdown.svg);
  background-size: cover;
  background-position: center;
  border: none;
  height: 60px;
  width: 60px;
  margin-left: calc(50vw - 30px);
  margin-top: calc(10vh - 20px);
  animation: refresh 1s ease-out forwards;
}
.btn:hover {
  background-image: url(./assets/dropdown-hover.svg);
}
.btn-white {
  background: url(./assets/dropdown-white.svg);
  background-size: cover;
  background-position: center;
  border: none;
  height: 60px;
  width: 60px;
  margin-left: calc(50vw - 30px);
  margin-top: 10vh;
  animation: refresh 1s ease-out forwards;
}
.btn-white:hover {
  background-image: url(./assets/dropdown-hover.svg);
}

.button {
  height: 10vh;
  width: 10vh;
  background: url(./assets/rock-climbing.svg);
  background-size: cover;
  background-position: center;
  border: none;
  animation: refresh 1s ease-out forwards;
}
.button:hover {
  background-image: url(./assets/rock-climbing-hover.svg);
}
.button-box {
  margin-top: calc(45vh - 69px);
  margin-left: calc(50vw - 5vh);
}
.center {
  margin: 20%;
  margin-top: 30%;
}
.button-close {
  display: none;
}
.page-close {
  height: 0;
}
.wrapper {
  display: none;
}
.web {
  display: none;
}

.dropdown-open {
  display: none;
}
.nav-close-mobile {
  display: none;
}
.timeline-mobile-close {
  display: none;
}
.timeline-btn {
  display: none;
}
@media (max-width: 774px) {
  .wrap {
    float: none;
    padding-left: 0;
    padding-left: calc(50% - 200px);
  }
}

@media (max-width: 774px) {
  .temp {
    display: none;
  }
  .temp1 {
    display: initial;
  }
  .position {
    margin-top: 250px;
  }
  /* .container {
    display: none;
  } */
  .dropdown {
    display: initial;
  }
  .nav {
    padding-bottom: 100px;
  }
  .button-box {
    margin-top: calc(45vh - 233px);
  }
  .mobile {
    /* royal blue dark */
    background: #0a2472;
    height: 100%;
    width: 100vw;
    margin-left: -8px;
    margin-top: -24px;
    margin-bottom: -8px;
    position: absolute;
    overflow: auto;
    /* animation: refresh-mobile 0.7s ease-out forwards; */
  }

  .web {
    display: initial;
  }
  .nav-close {
    display: none;
  }
  .button-box {
    margin-top: calc(35vh - 60px);
  }
  li {
    display: list-item;
    padding-top: 9vh;
  }
  .container {
    display: list-item;
    text-align: center;
  }

  ul {
    margin: auto;
    list-style-type: none;
  }
  #socials {
    padding-top: 10vh;
  }
  .timeline-btn {
    display: initial;
    width: 30px;
    height: 40px;
    background: url(./assets/timeline.svg);
    background-size: cover;
    background-position: center;
    border: none;
    margin-top: 20px;
    margin-left: calc(50vw - 10px);
    position: relative;
    z-index: 10;
  }
  .timeline-mobile {
    background-color: #0a2472;
    height: 100%;
    width: 100vw;
    position: absolute;
    margin: -8px;
    overflow: auto;
  }
  .timeline {
    margin-left: calc(50vw - 5px);
    margin-top: calc(13.5vh);
  }
  .big {
    margin-left: calc(50vw - 20px);
  }
  .dot {
    margin-right: 5vw;
    margin-top: calc(13.5vh - 27.5px);
  }
  .wrapper1 {
    margin-left: calc(50vw - 13px);
    height: calc(668px - 134px);
  }
  .edu {
    /* margin-top: calc(15vh + 57.5px); */
    margin-top: calc(13.5vh - 22.5px);
    float: left;
    margin-left: 20px;
  }
  .exp {
    /* margin-top: calc(15vh + 57.5px); */
    margin-top: calc(13.5vh - 22.5px);
    float: right;
    margin-right: 20px;
  }
  .wrapper-inv {
    margin-left: calc(50vw - 13px);
    margin-top: calc(13.5vh + 12.5px);
    /* margin-left: -6.8vw; */
    height: calc(668px - 134px);
    /* position: relative; */
    /* z-index: 11; */
  }
  .dot-inv {
    margin-right: 0;
    margin-top: 0;
  }
  .btn-timeline {
    margin-left: 0;
  }
  .mobile-small-inv-1 {
    margin-left: calc(-46.875vw + 26px);
    text-align: start;
    text-indent: 26px;
    direction: rtl;
    height: 26px;
    width: 26px;
    color: transparent;
    line-height: 25px;
    width: 46.875vw;
    border-radius: 0;
    color: initial;
    font-size: 4vw;
    color: #98dfea;
  }

  .mobile-small-inv-2 {
    margin-left: 0;
    text-align: start;
    text-indent: 26px;
    height: 26px;
    width: 26px;
    color: transparent;
    line-height: 25px;
    width: 46.875vw;
    border-radius: 0;
    color: initial;
    font-size: 4vw;
    color: #988f2a;
  }
  .mobile-small-inv-3 {
    margin-left: 0;
    text-align: start;
    text-indent: 26px;
    height: 26px;
    width: 26px;
    color: transparent;
    line-height: 25px;
    width: 46.875vw;
    border-radius: 0;
    color: initial;
    font-size: 4vw;
    color: #988f2a;
  }
  .mobile-small-inv-4 {
    margin-left: calc(-46.875vw + 26px);
    text-align: start;
    text-indent: 26px;
    direction: rtl;
    height: 26px;
    width: 26px;
    color: transparent;
    line-height: 25px;
    width: 46.875vw;
    border-radius: 0;
    color: initial;
    font-size: 4vw;
    color: #98dfea;
  }
  .mobile-small-inv-5 {
    margin-left: 0;
    text-align: start;
    text-indent: 26px;
    width: 46.875vw;
    border-radius: 0;
    color: initial;
    font-size: 4vw;
    color: #988f2a;
  }
  .mobile-small-inv-6 {
    margin-left: 0;
    text-align: start;
    text-indent: 26px;
    height: 26px;
    width: 26px;
    color: transparent;
    line-height: 25px;
    width: 46.875vw;
    border-radius: 0;
    color: initial;
    font-size: 4vw;
    color: #988f2a;
  }
  .mobile-small-inv-7 {
    margin-left: 0;
    text-align: start;
    text-indent: 26px;
    height: 26px;
    width: 26px;
    color: transparent;
    line-height: 25px;
    width: 46.875vw;
    border-radius: 0;
    color: initial;
    font-size: 4vw;
    color: #988f2a;
  }
  .mobile-small-inv-8 {
    margin-left: calc(-46.875vw + 26px);
    text-align: start;
    text-indent: 26px;
    direction: rtl;
    height: 26px;
    width: 26px;
    color: transparent;
    line-height: 25px;
    width: 46.875vw;
    border-radius: 0;
    color: initial;
    font-size: 4vw;
    color: #98dfea;
  }
  .mobile-small-inv-9 {
    text-align: start;
    text-indent: 26px;
    margin-left: 0;
    height: 26px;
    width: 26px;
    color: transparent;
    line-height: 25px;
    width: 46.875vw;
    border-radius: 0;
    color: initial;
    font-size: 4vw;
    color: #988f2a;
  }

  .big-inv {
    margin-left: calc(50vw);
  }
}
.about-nav-open {
  display: none;
}
.bttn {
  height: 3.5vh;
  width: 3.5vh;
  background: url(./assets/back.svg);
  background-size: cover;
  background-position: center;
  border: none;
  margin-top: 8vh;
  margin-left: 8vh;
  animation: refresh 1s ease-out forwards;
}
@media (max-width: 400px) {
  .wrap {
    margin-left: 25px;
    margin-right: 25px;
  }
}
@keyframes refresh {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes refresh-mobile {
  0% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
}
