/* .nav-mobile {
  margin-top: -24px;
  margin-left: -8px;

  height: 100vh;
  width: 100vw;
  background-color: blue;
} */
.nav {
  padding-bottom: 200px;
}
.nav-close {
  padding-top: 50px;
}
.nav-open {
  display: none;
}

.home {
  background-color: #015313;
  background-size: cover;
  height: 100vh;
  width: 100vw;
  margin: -8px;
}

.about {
  background: #3d157d;
  height: 100vh;
  width: 100vw;
  margin: -8px;
}

.image {
  float: right;
  height: 10vw;
  width: 15vw;
  margin-top: 10%;
  margin-right: 15%;
  background-image: url(./assets/IMG_7870.JPG);
  background-size: cover;
  background-position: center;
  transition: all 2s ease-in-out;
  animation: refresh 1s ease-out forwards;
}

.image:hover {
  height: 20vw;
  width: 30vw;
  margin-top: calc(10% - 5vw);
}
.projects {
  background-color: #b52a21;
  margin: -8px;
  height: 100vh;
  width: 100vw;
}
.curriculum {
  background-color: black;
  margin: -8px;
  height: 100vh;
  width: 100vw;
}
.wrap {
  color: #eef0f2;
  padding-left: 100px;
  max-width: 440px;
  float: left;
  animation: refresh 1s ease-out forwards;
}

.container {
  width: 100%;
  display: flex;
  flex: 1;
  justify-content: space-between;
  align-items: center;
  animation: refresh 1s ease-out forwards;
}

li {
  display: inline;
  padding-right: 50px;
}
/* li:active {
  font-weight: 600;
} */

.text {
  color: white;
  text-decoration: none;
  font-size: 23px;
  font-family: arial;
}
.link {
  color: white;
  text-decoration: none;
}
.link:hover {
  color: #b52a21;
}

h1 {
  max-width: 440px;
  font-size: 1.618034em;
  line-height: 1.3;
  font-weight: 700 / 600;
  font-family: "Raleway", sans-serif;
}
h2 {
  max-width: 400px;
  padding-top: 1.3em;
  font-family: "the-serif", serif;
  font-weight: 400;
  font-size: 1.2em;
  line-height: 1.4;
  margin-left: 0;
}
h3 {
  max-width: 400px;
  font-family: "the-serif", serif;
  font-size: 1.2em;
  font-weight: 400;
  line-height: 1.4;
}
.dropdown {
  display: none;
}

.btn {
  background: url(./assets/dropdown.svg);
  background-size: cover;
  background-position: center;
  border: none;
  height: 60px;
  width: 60px;
  margin-left: calc(50vw - 30px);
  margin-top: 10vh;
}
.btn:hover {
  background-image: url(./assets/dropdown-hover.svg);
}
.btn-white {
  background: url(./assets/dropdown-white.svg);
  background-size: cover;
  background-position: center;
  border: none;
  height: 60px;
  width: 60px;
  margin-left: calc(50vw - 30px);
  margin-top: 10vh;
}
.btn-white:hover {
  background-image: url(./assets/dropdown-hover.svg);
}

.button {
  height: 10vh;
  width: 10vh;
  background: url(./assets/rock-climbing.svg);
  background-size: cover;
  background-position: center;
  border: none;
  animation: refresh 1s ease-out forwards;
}
.button:hover {
  background-image: url(./assets/rock-climbing-hover.svg);
}
.button-box {
  margin-top: calc(45vh - 69px);
  margin-left: calc(50vw - 5vh);
}
.center {
  margin: 40%;
  margin-top: 30%;
}
.button-close {
  display: none;
}
.page-close {
  height: 0;
}
.wrapper {
  display: none;
}
.web {
  display: none;
}

.dropdown-open {
  display: none;
}
@media (max-width: 1000px) {
  .wrap {
    float: none;
    padding-left: 0;
    padding-left: calc(50% - 200px);
  }
  .image {
    float: none;
    height: 15vw;
    width: 22.5vw;
    margin-left: calc(50% - 11.5vw);
  }
  .image:hover {
    height: 30vw;
    width: 45vw;
    margin-left: calc(50% - 22.5vw);
  }
}
.nav-close-mobile {
  display: none;
}

@media (max-width: 768px) {
  /* .container {
    display: none;
  } */
  .dropdown {
    display: initial;
  }
  .nav {
    padding-bottom: 100px;
  }
  .button-box {
    margin-top: calc(45vh - 233px);
  }
  .mobile {
    background: blue;
    height: calc(100vh);
    width: 100vw;
    margin-left: -8px;
    margin-top: -24px;
    margin-bottom: -8px;
  }

  .web {
    display: initial;
  }
  .nav-close {
    display: none;
  }
  .button-box {
    margin-top: calc(35vh - 60px);
  }
  li {
    display: list-item;
    padding-top: 9vh;
  }
  .container {
    display: list-item;
    text-align: center;
  }

  ul {
    margin: auto;
    list-style-type: none;
  }
  #socials {
    padding-top: 10vh;
  }
}
.about-nav-open {
  display: none;
}
.bttn {
  height: 3.5vh;
  width: 3.5vh;
  background: url(./assets/back.svg);
  background-size: cover;
  background-position: center;
  border: none;
  margin-top: 8vh;
  margin-left: 8vh;
}
@media (max-width: 400px) {
  .wrap {
    margin-left: 25px;
    margin-right: 25px;
  }
}
@keyframes refresh {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
